@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Numans');


html,body{
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
padding: 40px;
}

.card{
height: 370px;
margin-top: 250px;

width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.loginpic {
	width: 100%;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    align-self: center;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.footer {
	
	display: flex;
	width: 100%;
	justify-content: center;
}

.footer img {
	width: 15px;
	height: 15px;
}

.firstsection {
	display: flex;
}
.firstsection img{
	width:50%;
	height: 80px;
}

.firsttextarea {
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	background-color: #5ca352;
	color: #3c3c3c;
}

.firsttextarea a{
	color: #ff4da6;
}

.aboutUsText{
	display: flex;
	color: white;
	background-color: #4e8bfe;
	padding-left: 25px
}

.aboutUsText{
	margin-bottom: 25px;
		
}

.charitylist {
	background-color: #fef392;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	
}

.newOrder {
	background-color: #72cf74;
}

.meatdairy {
	height: 20px;
}